

h1, h2, h3 {
    text-align: center;
    font-family : Avenir Black ;
    color: #FF69B4;
    border: 0;
    margin: 1px;
}

body {
    background-color: rgb(00, 255, 255);
}

#graph-container {
    width: 550px;
    height: 450px;
    background-color: white;
    display: grid;
  }

  svg {
    grid-column: 1;
    grid-row: 1;
  }

#form {
    text-align: center;
    font-family : Avenir Black ;
    color: #FF69B4;
}

#deg {
    display: flex;
    justify-content: center;
}

input, textarea, button {
    border: 1px solid #FF69B4;
    
}

input, label {
    display: block;
}

#equation {

    font-family : Avenir Black ;
    color: #FF69B4;
}

/* path {
    fill: none;
    stroke: green;
} */