

h1, h2, h3 {
    text-align: center;
    font-family : Avenir Black ;
    color: black;
    border: 0;
    margin: 1px;
}

body {
    background-color: white;
}

#graph-container {
    width: 550px;
    height: 450px;
    background-color: Honeydew;
    display: grid;
    border: 1px black
  }

  svg {
    grid-column: 1;
    grid-row: 1;
  }

#form, #equation {
    text-align: center;
    font-family : Avenir Black ;
    color: black;
}

#deg {
    display: flex;
    justify-content: center;
}

input, textarea, button {
    border: 1px solid black; 
    background-color: white;
    color: black;
}

input, label {
    display: block;
}
